{% extends "base.html" %}

{% block title %} Lipsync {% endblock %}

{% block content %}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Automate Lipsync</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p>
                {% if user.is_authenticated %}
                <p>
                    <a href="/accounts/signup/" class="btn btn-primary my-2">Lipsync</a>
                    <a href="/accounts/logout/" action="/accounts/logout/" class="btn btn-secondary my-2">Sign out</a>
                </p>
                {% else %}
                <p>
                    <a href="/accounts/signup/" class="btn btn-primary my-2">Sign up</a>
                    <a href="/accounts/login/" class="btn btn-secondary my-2">Sign In</a>
                </p>
                {% endif %}
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">




            </div>
        </div>
    </div>

</main>


{% endblock %}