
{% extends "base.html" %}

{% block title %} 404 {% endblock %}

{% block content %}
{% load static %}
<section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <!-- <h2 class="mb-5 font-weight-medium">Search result for <span class="text-primary">install</span></h2> -->
          <div class="p-5 shadow rounded">
            <div class="text-center"><img class="img-fluid" src="{% static 'images/sorry-mouth.png' %}">
              <h3>No Search Found</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}