
{% extends "base.html" %}

{% block head %} 

<meta name="title" content="Mouth lipsync software blog">
<meta name="description" content="Stay up-to-date with the latest advancements in free auto mouth lipsync through our blog. Learn from industry experts, read case studies, and get insights into the latest trends and techniques.">
<meta name="keywords" content="lip, video, mouth sync, mouth, live, animation, save, lip-sync, syncing, sync, performance, cartoon, software, character, edit, english, add, effects, voice, tools, show, face, lipsync, auto, film, sound, animated, original, lips, text, make, movements, audio, synced, word, synchronization, free, videos, words, lipsynch, expression, emotions, design, color, animate, youtube">
<meta name="robots" content="index,follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 day">
<meta name="author" content="OyKamal">


<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{% block title %} About {% endblock %}</title>
<!-- ** Plugins Needed for the Project ** -->
<!-- plugins -->
{% load static %}
<!-- "{% static '/js/getCall.js' %}" -->
<link rel="stylesheet" href="{% static 'js/plugins/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/plugins/themify-icons/themify-icons.css' %}">
<!-- Main Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
<!--Favicon-->
<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EE11F9JK2P"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-EE11F9JK2P');
</script>


{% endblock %}
{% comment %} {% block title %} Question {% endblock %} {% endcomment %}

{% block content %}
{% load static %}

<div class="container my-5">
    <h1 class="text-center">Blog</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            {% for blog in blogs %}
            <div class="card mb-4 h-100">
                <img class="img-responsive" class="card-img-top smallimg" src="{{ blog.image.url }}" alt="Blog post image">
                <div class="card-body">
                    <h2 class="card-title">{{blog.title}}</h2>
                    <p class="card-text">{{ blog.body|slice:":200" }}...</p>
                    <a href={{ blog.get_absolute_url }} class="btn btn-primary">Read More</a>
                    {% comment %} <div class="d-flex justify-content-between align-items-center mt-3">
                        <div class="badge badge-info">Category: {{blog.categories.name}}</div>
                        <div class="badge badge-secondary">Tags: AI, ML, NLP</div>
                    </div> {% endcomment %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h3>Categories</h3>
            <ul class="list-group">
                {% for category in Categories %}
                <li class="list-group-item">{{ category.name }}</li>
                {% endfor %}
            </ul>
            {% comment %} <h3 class="mt-5">Tags</h3>
            <ul class="list-group">
                <li class="list-group-item">AI</li>
                <li class="list-group-item">ML</li>
                <li class="list-group-item">NLP</li>
            </ul> {% endcomment %}
        </div>
    </div>
</div>


{% endblock %}