
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} lip sync Videos {% endblock %}

{% block content %}

<!-- 
    {% for file in files %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{file.name}}</h5>
          <p class="card-text"> created at {{file.created_at}}</p>
          <a href="{{ file.get_absolute_url }}" class="btn btn-primary">Details</a>
        </div>
      </div>
    {% endfor %} -->
    <h1>Your Mouth lip sync videos</h1>
    <div class="list-group p-4 ">
        {% for file in files %}
        <div class="p-2">
            <a href="{{ file.get_absolute_url }}" class="list-group-item list-group-item-action"> {{file.name}} </a>
        </div>
        
        {% endfor %}
    </div>

{% endblock %}

