
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Mouth lip sync assets {% endblock %}

{% block content %}
<h1>{{ mouth.title }}</h1>
<div class="container">
    <div class="row">


        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.a_e_h.url }}" alt=" {{ mouth.a_e_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth a_e_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.d_j_ch_h.url }}" alt=" {{ mouth.d_j_ch_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth d_j_ch_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.f_h.url }}" alt=" {{ mouth.f_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth f_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.l_h.url }}" alt=" {{ mouth.l_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth l_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.m_b_close_h.url }}" alt=" {{ mouth.m_b_close_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth m_b_close_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.o_big_h.url }}" alt=" {{ mouth.o_big_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth o_big_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.oh_h.url }}" alt=" {{ mouth.oh_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth oh_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.th_h.url }}" alt=" {{ mouth.th_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth th_h
                    </p>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <img src="{{ mouth.trans_h.url }}" alt=" {{ mouth.trans_h }} ">
                <div class="card-body" >
                    <p class="card-text" >
                        Mouth trans_h
                    </p>
                </div>
            </div>

        
        </div>

    </div>
</div>

{% endblock %}

