{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head %} 

<meta name="title" content="Question Mouth Lip Sync">
<meta name="description" content="Get expert tips and techniques for creating realistic auto mouth lip sync in animation and films. Learn how to bring your characters to life with accurate lip movements. ">
<meta name="keywords" content="lip, video, mouth sync, mouth, live, animation, save, lip-sync, syncing, sync, performance, cartoon, software, character, edit, english, add, effects, voice, tools, show, face, lipsync, auto, film, sound, animated, original, lips, text, make, movements, audio, synced, word, synchronization, free, videos, words, lipsynch, expression, emotions, design, color, animate, youtube">
<meta name="robots" content="index,follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content="1 day">
<meta name="author" content="OyKamal">


<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{% block title %} Question {% endblock %}</title>
<!-- ** Plugins Needed for the Project ** -->
<!-- plugins -->
{% load static %}
<!-- "{% static '/js/getCall.js' %}" -->
<link rel="stylesheet" href="{% static 'js/plugins/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/plugins/themify-icons/themify-icons.css' %}">
<!-- Main Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
<!--Favicon-->
<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EE11F9JK2P"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-EE11F9JK2P');
</script>


{% endblock %}
{% comment %} {% block title %} Question {% endblock %} {% endcomment %}

{% block content %}

<main>

<h1>Got Any Questions</h1>
{% if success %}
<div class="alert alert-success">
    <strong>Successfully!</strong> Uploaded.
</div>
{% endif %}
    <div class="album py-5 bg-light">
        <div class="container">

            <form action="" method='post'  autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-success" type="submit" class="submit">submit</button>
            </form>
        </div>
    </div>

</main>


{% endblock %}