
{% extends "base.html" %}

{% block title %} Use {% endblock %}

{% block content %}
{% load static %}
<!-- service -->
<section class="section-lg service-bg-image position-relative" style="background-image: url(images/backgrounds/service-page.png);">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center mb-100">
              <h2 class="section-title">How to use auto Lipsync</h2>
              <p>In order to use Mouth lipsync you will need a audio in English and Text script.<br>for example you can use following files.</p>
              <p>
                <a href="{% static 'images/i-have-a-dream.wav' %}" target="_blank" class="btn btn-primary my-2">Audio</a>
                <a href="{% static 'images/i-have-a-dream.txt' %}" target="_blank" class="btn btn-secondary my-2">Text script</a>
            </p>
          </div>
          <!-- service item -->
          <div class="col-md-6 mb-4">
              <div class="rounded bg-white p-4 shadow-primary">
                  <i class="ti-layers-alt round-icon blue mb-4"></i>
                  <h4><a href="/upload/"> Use Lipsync </a></h4>
                  <p>Upload auto and text file to Lipsync.<br><br>Tool will automatically create your 2d Mouth lipsync video.</p>
              </div>
          </div>
          <!-- service item -->
          <div class="col-md-6 mb-4 translate-y-150">
              <div class="rounded bg-white p-4 shadow-primary">
                  <i class="ti-layers-alt round-icon green mb-4"></i>
                  <h4>End results ?</h4>
                  <iframe width="450" height="345" src="https://www.youtube.com/embed/CMA5yrjdBPM"></iframe>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- /service -->
  {% endblock %}