
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Files {% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'js/getCall.js' %}"></script>

{% if video %}
<div class="jumbotron">
    <h1 class="display-4">Ready!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="{{ video.video }}" target="_blank" role="button">Download</a>

</div>
{% else %}
<div class="jumbotron">
    <h1 class="display-4">Pending!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <!-- <a class="btn btn-lg" href={{video.video}} role="button">N</a> -->
</div>
{% endif %}

    {% if gentle_json %}
    <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Word</th>
            <th scope="col">start</th>
            <th scope="col">end</th>
          </tr>
        </thead>
        <tbody>
          {% for each_word in gentle_json.json.words %}
          <tr>
            <td>{{each_word.word}}</td>
            <td>{{each_word.start}}</td>
            <td>{{each_word.end}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <h3>{{file.name}} working in progress ...!</h3>
    {% endif %}




{% endblock %}

